<section class="section">
    <div class="section-header">
        <h1>Blogs</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="<%= app_dashboard_path %>">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="<%= app_blogs_path %>">Blogs</a></div>
            <div class="breadcrumb-item">Détail</div>
        </div>
    </div>
    <div class="section-body">
        <div class="col-12">
            <div class="card">
                <% if @blog.image.attached? %>
                    <%= image_tag @blog.image, class: "card-img-top", style: "height: 400px", alt: @blog.title %>
                <% end %>
                <div class="card-body">
                    <h1><%= @blog.title %></h1>
                    <hr/>
                    <p><%= @blog.content %></p>
                    <hr>
                    <p>Le <b><%= @blog.formatted_created_at %></b></p>
                </div>
            </div>
        </div>
    </div>
</section>