<section class="section">
    <div class="section-header">
        <h1>Categories </h1><a class="text-sm ml-3 btn btn-success" href="<%= new_app_category_path %>">+</a>  
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="<%= app_dashboard_path %>">Dashboard</a></div>
            <div class="breadcrumb-item">Categories</div>
        </div>
    </div>
    <div class="section-body">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-md">
                            <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <th>Créé le</th>
                                    <th>Action</th>
                                </tr>
                                <% @categories.each do |c| %>
                                    <tr>
                                        <td><%= c.name %></td>
                                        <td><%= c.formatted_created_at %></td>
                                        <td class="d-flex">
                                            <a href="<%= edit_app_category_path(c.id) %>" class="btn btn-warning btn-sm mr-2">Modifier</a>
                                            <%= button_to  "Supprimer", app_category_path(c), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Vous êtes sûr ?" }, class: "btn btn-danger btn-sm"%>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>