
<%= form_with url: "/register", method: :post, model: @user do |f| %>

    <div class="form-group">
        <%= f.label :username, "Nom complet" %>
        <%= f.text_field :username,  class: "form-control" %>
        <% if @user.errors[:username].any? %>
            <span class="text-danger"><%= @user.errors[:username].first %></span>
        <% end %>
    </div>

    <div class="form-group">
        <%= f.label :email, "Adress email" %>
        <%= f.text_field :email,  class: "form-control" %>
        <% if @user.errors[:email].any? %>
            <span class="text-danger"><%= @user.errors[:email].first %></span>
        <% end %>
    </div>

    <div class="row">
        <div class="form-group col-6">
            <%= f.label :password, "Mot de passe", class: "d-block" %>
            <%= f.password_field :password,  class: "form-control" %>
            <% if @user.errors[:password].any? %>
                <span class="text-danger"><%= @user.errors[:password].first %></span>
            <% end %>
        </div>
        <div class="form-group col-6">
            <%= f.label :password_confirmation, "Confirm le mot de passe" %>
            <%= f.password_field :password_confirmation,  class: "form-control" %>
            <% if @user.errors[:password_confirmation].any? %>
                <span class="text-danger"><%= @user.errors[:password_confirmation].first %></span>
            <% end %>
        </div>
    </div>

    <div class="form-group">
        <%= f.submit "S'inscrire", class: "btn btn-primary btn-lg btn-block" %>
    </div>
<% end %>