<%= render partial: "partials/header" %>

    <div id="app">
      <div class="main-wrapper main-wrapper-1">
          <div class="navbar-bg"></div>
          <nav class="navbar navbar-expand-lg main-navbar">
              <div class="mr-auto">
                  <ul class="navbar-nav mr-3">
                      <li>
                        <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg">
                          <i class="fas fa-bars"></i>
                        </a>
                      </li>
                  </ul>
              </div>
              <ul class="navbar-nav navbar-right">
                  <li class="dropdown">
                      <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                          <%= image_tag "avatar-1.png", class: "rounded-circle mr-1" %>
                          <div class="d-sm-none d-lg-inline-block">Hi, <%= authenticated_user.username %></div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                          <div class="dropdown-title">Logged in 5 min ago</div>
                          <a href="features-profile.html" class="dropdown-item has-icon">
                              <i class="far fa-user"></i> Profile
                          </a>
                          <a href="features-activities.html" class="dropdown-item has-icon">
                              <i class="fas fa-bolt"></i> Activities
                          </a>
                          <a href="features-settings.html" class="dropdown-item has-icon">
                              <i class="fas fa-cog"></i> Settings
                          </a>
                          <div class="dropdown-divider"></div>
                          <form action="<%= auth_logout_path %>" method="POST">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <button type="submit" class="dropdown-item has-icon text-danger logout-button">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </button>
                          </form>
                      </div>
                  </li>
              </ul>
          </nav>
          <div class="main-sidebar sidebar-style-2">
              <aside id="sidebar-wrapper">
                  <div class="sidebar-brand">
                      <a href="index.html">Stisla</a>
                  </div>
                  <div class="sidebar-brand sidebar-brand-sm">
                      <a href="index.html">St</a>
                  </div>
                  <ul class="sidebar-menu">
                      <li class="<%= 'active' if controller_name == 'dashboard' %>">
                          <a class="nav-link" href="<%= app_dashboard_path %>">
                              <i class="fa-solid fa-house"></i> <span>Dashboard</span>
                          </a>
                      </li>
                      <li class="<%= 'active' if controller_name === 'categories' %>">
                          <a class="nav-link" href="<%= app_categories_path %>">
                              <i class="fa-solid fa-calendar-days"></i> <span>Categories</span>
                          </a>
                      </li>
                      <li class="">
                          <a class="nav-link" href="<%= app_dashboard_path %>">
                              <i class="fa-solid fa-tags"></i> <span>Tags</span>
                          </a>
                      </li>
                      <li class="<%= 'active' if controller_name === "blogs" %>">
                          <a class="nav-link" href="<%= app_blogs_path %>">
                              <i class="fa-brands fa-blogger"></i> <span>Blogs</span>
                          </a>
                      </li>
                  </ul>

              </aside>
          </div>

        <!-- Main Content -->
        <div class="main-content">
          <%= yield %>
        </div>
        <footer class="main-footer">
          <div class="footer-left">
              Copyright &copy; 2023 <div class="bullet"></div> By <a href="https://github.com/ayoub11599/blograils">Ayoub Boumahra</a>
          </div>
        </footer>
      </div>
    </div>
    
<%= render partial: "partials/footer" %>
