<%= render partial: "partials/header" %>
    <div class="container py-5">
        <div id="app">
            <section class="section">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                            <% flash.each do |name, val| %>
                                <% puts name %>
                                <div class="alert alert-<%= name %>">
                                    <%= val %>
                                </div>
                            <% end %>
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h4>
                                        <%= @is_login_page ? "Se connecter" : "Registre" %>
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <%= yield %>
                                </div>
                            </div>
                            <div class="text-muted text-center">
                                <% if @is_login_page %>
                                    Vous n'avez pas de compte ? <a href="<%= auth_register_path %>">Créer un</a>
                                <% else %>
                                    Vous avez dèja un compte ? <a href="<%= auth_login_path %>">Se connecter</a>
                                <% end %>
                            </div>
                            <div class="simple-footer">
                                Copyright &copy; Ayoub Boumahra 2023
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
<%= render partial: "partials/footer" %>

